:root {
    --font: "Quantico", monospace;
    --text-color: white;
    --outline-color: black;
    --outline-width: 1px;
    --font-size: 40px;
    --suffix-size: 20px;
    --alignment: left;  /* left, center, right */
}

.points {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.2em;
    font-family: var(--font);
    color: var(--text-color);
    transition: all 0.3s ease;
    justify-content: var(--alignment);
}

.num {
    font-weight: 500;
    line-height: 1;
    font-size: var(--font-size);
}

.num span {
    display: inline-block;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    line-height: 1;
    -webkit-text-stroke: var(--outline-width) var(--outline-color);
    -webkit-text-fill-color: var(--text-color);
    transition: all 0.3s ease;
}

.suffix {
    font-weight: 500;
    font-size: 0.4em;
    margin-left: 0.2em;
    vertical-align: middle;
    color: var(--text-color);
    font-size: var(--suffix-size);
    -webkit-text-stroke: var(--outline-width) var(--outline-color);
    -webkit-text-fill-color: var(--text-color);
    transition: all 0.3s ease;
}

.points.locked .num span {
    position: relative;
}

.points.locked .num span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--outline-color);
    transform: translateY(-50%);
    pointer-events: none;
}
