:root {
    --hours-color: #ff00aa;
    --minutes-color: #aa00ff;
    --seconds-color: #00aaff;
    --border-color: #48446e;
    --inner-border-color: #655fa0;
    --main-background-color: #d9d7fb;
    --colon-color: #7373ff;
    --font: milker;
    --glow-color: #494475;
    --font-size: 3rem;
    --lock-color: #ff8000;
    --multiplier-text-color: #48446e;
}

.timer-overlay {
    position: absolute;
    inset: 0; 
    top: -10px;
    left: -14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.timer-container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center; 
    border-radius: 24px 12px;
    position: relative;
    font-family: var(--font), sans-serif;
    outline: 5px solid var(--border-color);
    outline-offset: -1px;
    width: auto;
    background-color: var(--main-background-color);
    box-shadow: inset 0 0 0 4px var(--inner-border-color);
    filter: drop-shadow(0 0 4px  var(--glow-color));
    margin: 8px;
}

.timer {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-weight: 300;
  color: #ffffff;
  padding-top: 2px; /* milker font needs this, otherwise match bottom */
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  transition: opacity 0.4s ease, width 0.25s ease, padding 0.25s ease;
  text-align: center;
  line-height: 100%;
}

#hoursGroup {
    color: var(--hours-color) !important;
}
#minutesGroup {
    color: var(--minutes-color) !important;
}
#secondsGroup {
    color: var(--seconds-color) !important;
}

.colon {
    margin: 0 0.25rem;
    opacity: 0.8;
    font-family: var(--font), sans-serif;
    color: var(--colon-color);
}

.digit-group {
  display: flex;
  position: relative;
  display: inline-block;
  width: auto; 
  transition: width 0.25s ease;
}

.digit {
  display: inline-block;
  width: 1ch;
  height: 1em;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.digit span {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.paused {
  opacity: 0.4;
}

.lock-icon {
    width: 40%;
    max-width: 96px;
    fill: var(--lock-color);
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.25));
    opacity: 1;
    z-index: 100;
}

.timer-locked .timer-overlay {
    opacity: 1;
    z-index: 100;
}

.lock-icon.hidden {
    display: none;
    opacity: 0;
}

.hidden {
  opacity: 0;
}

#hoursDigits,
#hoursColon {
  transition: opacity 0.3s ease, width 0.3s ease, margin 0.3s ease;
}

.hidden-time {
    opacity: 0;
    width: 0;
    margin: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, width 0.3s ease, margin 0.3s ease;
}

@keyframes glowPulseMultiplier {
  0%   { filter: drop-shadow(0 0 3px var(--inner-border-color)); }
  25%   { filter: drop-shadow(0 0 3px var(--inner-border-color)); }
  50%  { filter: drop-shadow(0 0 5px var(--inner-border-color)); }
  75% { filter: drop-shadow(0 0 3px var(--inner-border-color)); }
  100% { filter: drop-shadow(0 0 3px var(--inner-border-color)); }
}

#multiplier-tag {
  position: absolute;
  bottom: -16px;
  right: -52px;
  transform: rotate(10deg);
  outline: 2px solid var(--border-color);
  outline-offset: -1px;
  border: 1px solid var(--border-color);
  box-shadow: inset 0 0 0 2px var(--inner-border-color);
  background-color: var(--main-background-color);
  color: var(--multiplier-text-color);
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  width: 52px;
  height: 52px;
  font-family: "Times New Roman", sans-serif !important;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

#multiplier-tag.show {
  opacity: 1;
  transform: translateX(-50%) rotate(10deg) translateY(0);
  animation: glowPulseMultiplier 1.8s ease-in-out infinite;
}

#multiplier-tag.hidden {
  opacity: 0;
  transform: translateX(-50%) rotate(10deg) translateY(-8px);
}
