:root {
    --background: #0a0a0a;
    --box-background: #121212;
    --text-color: #eaeaea;
    --border-color: #3cff8f;
    
    --pixel-border: 3px;
    --font: 'Press Start 2P', monospace;
    --min-width: 80px;
    --min-height: 60px;
    --font-size: 24px;
}

body {
    font-family: var(--font);
    color: var(--text-color);
    display: grid;
    align-items: start;
}

.value-root.left {
    justify-self: left;
}

.value-root.right {
    justify-self: right;
}

.value-root.center {
    justify-self: center;
}

.value-root {
    justify-self: center;
    background: var(--background);
    padding: 12px;
    border: var(--pixel-border) solid var(--border-color);
    clip-path: polygon(
            0px calc(100% - 8px),
            4px calc(100% - 8px),
            4px calc(100% - 4px),
            8px calc(100% - 4px),
            8px 100%,
            calc(100% - 8px) 100%,
            calc(100% - 8px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 4px),
            calc(100% - 4px) calc(100% - 8px),
            100% calc(100% - 8px),
            100% 8px,
            calc(100% - 4px) 8px,
            calc(100% - 4px) 4px,
            calc(100% - 8px) 4px,
            calc(100% - 8px) 0px,
            8px 0px,
            8px 4px,
            4px 4px,
            4px 8px,
            0px 8px
    );
    width: fit-content;
    min-width: var(--min-width) !important;
    min-height: var(--min-height) !important;
}

.value-column {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.value-row {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(80px, 1fr) auto;
    column-gap: 2px;
    min-height: var(--min-height);
    align-items: center;
    padding: 4px;
    background: var(--box-background);
    border: var(--pixel-border) solid var(--border-color);
    font-size: var(--font-size);
    clip-path: polygon(
            0px calc(100% - 4px),
            4px calc(100% - 4px),
            4px 100%,
            calc(100% - 4px) 100%,
            calc(100% - 4px) calc(100% - 4px),
            100% calc(100% - 4px),
            100% 4px,
            calc(100% - 4px) 4px,
            calc(100% - 4px) 0px,
            4px 0px,
            4px 4px,
            0px 4px
    );
}

.value {
    text-align: center;
}

.hidden {
    display: none;
}

@keyframes flash {
    0%, 100% {  }
    50% { color: #fff; }
}

.flash {
    animation: flash 0.4s ease-in-out;
}
